.testimonialsleadin-text {
  margin-left: 70%;
  width: 280px;
}

@media only screen and (max-width: 780px) {
  .testimonialsleadin-text {
    margin-left: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .testimonialsleadin-text {
    /* margin-top: 85%; */
    margin-left: 8%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
