.servicesleadin-background {
  background-image: url("../../images/banner1.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
}

.servicesleadin-title {
  padding-top: 15%;
  padding-left: 15%;
  color: purple;
  font-weight: 600;
}

.servicesleadin-button {
  margin-left: 15%;
  background-color: #ec820a;
  color: white;
  border: none;
}

.servicesleadin-button:hover {
  background-color: #ec823a;
}

@media only screen and (max-width: 1130px) {
  .servicesleadin-title {
    padding-top: 2%;
    text-align: center;
  }

  .servicesleadin-button {
    margin-left: 41%;
  }
}

@media only screen and (max-width: 570px) {
  .servicesleadin-background {
    background-position: 70% 0%;
  }
}
