.testimonialsleadin-background {
  background-image: url("../../images/banner2.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}

.testimonialsleadin-title {
  padding-top: 25%;
  margin-left: 70%;
  color: purple;
  font-weight: 600;
}

.testimonialsleadin-text {
  margin-left: 70%;
  width: 30%;
}

.testimonialsleadin-button {
  background-color: #ec820a;
  color: white;
  border: none;
  margin-left: 70%;
}

.testimonialsleadin-button:hover {
  background-color: #ec823a;
}

@media only screen and (max-width: 1000px) {
  .testimonialsleadin-background {
    background-image: url("../../images/banner2.jpg");
    background-size: cover;
    background-position: 45% 0%;
    min-width: 100%;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 550px) {
  .testimonialsleadin-background {
    background-image: url("../../images/banner2.jpg");
    background-size: cover;
    background-position: 30% 0%;
    min-width: 100%;
    min-height: 100vh;
  }
  .testimonialsleadin-title {
    padding-top: 5%;
    margin-left: 1%;
    color: purple;
    font-weight: 600;
  }

  .testimonialsleadin-text {
    margin-top: 85%;
    margin-left: 8%;
    width: 90%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .testimonialsleadin-button {
    background-color: #ec820a;
    color: white;
    border: none;
    margin-left: 20%;
  }
}
