.testimonialsleadin-background {
  background-image: url("../../images/banner2.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}

.testimonialsleadin-title {
  padding-top: 25%;
  text-align: right;
  color: purple;
  font-weight: 600;
}

.testimonialsleadin-text {
  margin-left: 75%;
  width: 25%;
}

.testimonialsleadin-button {
  background-color: #ec820a;
  color: white;
  border: none;
  margin-left: 75%;
}

.testimonialsleadin-button:hover {
  background-color: #ec823a;
}
