.services-left {
  background-image: url("../../images/satisfied.jpg");
  background-size: cover;
  min-width: 50vw;
  min-height: 100vh;
}

.services-right {
  min-width: 50vw;
  background-color: whitesmoke;
}

.services-left-content {
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 5%;
  margin-right: 40%;
}

.services-title {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 30%;
  font-weight: 600;
  color: white;
}

.services-text {
  margin-bottom: 0%;
  margin-left: 5%;
  margin-right: 30%;
  color: white;
}

.services-link {
  padding-left: 5%;
  color: white;
  font-weight: 400;
}

.services-img {
  height: 70px;
  width: 70px;
  margin: auto;
  margin-top: 25%;
  margin-left: 35%;
  margin-bottom: 10%;
}

.services-img-title {
  text-align: center;
  margin-bottom: 25%;
  font-weight: 750;
}

.services-cards {
  border: none;
  background-color: transparent;
}

@media only screen and (max-width: 900px) {
  .services-left {
    min-width: 100vw;
    min-height: 100vh;
    background-color: whitesmoke;
    background-position: 70% 0%;
  }
  .services-right {
    min-width: 100vw;
    background-color: white;
  }

  .services-left-content {
    width: 70%;
  }
  .services-img-title {
    width: 70%;
  }
}
