.featuresleadin-background {
  background-image: url("../../images/banner1.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}

.featuresleadin-title {
  padding-top: 25%;
  color: purple;
  font-weight: 600;
}

.featuresleadin-button {
  background-color: orange;
  color: white;
}
