.featuresleadin-background {
  background-image: url("../../images/banner1.jpg");
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
}

.featuresleadin-title {
  padding-top: 25%;
  color: purple;
  font-weight: 600;
}

.featuresleadin-button {
  background-color: #ec820a;
  color: white;
  border: none;
}

.featuresleadin-button:hover {
  background-color: #ec823a;
}

@media only screen and (max-width: 1130px) {
  .featuresleadin-title {
    padding-top: 2%;
    text-align: center;
    color: purple;
    font-weight: 600;
  }

  .featuresleadin-button {
    margin-left: 40%;
    background-color: #ec820a;
    color: white;
    border: none;
  }

  .featuresleadin-button:hover {
    background-color: #ec823a;
  }
}

@media only screen and (max-width: 570px) {
  .featuresleadin-background {
    background-image: url("../../images/banner1.jpg");
    background-size: cover;
    background-position: 70% 0%;
    min-width: 100%;
    min-height: 100vh;
  }
}
