.testimonials-background {
  min-width: 100%;
}

.testimonials-left {
  background-image: url("../../images/testimonial.jpg");
  background-size: cover;
  min-width: 50%;
  min-height: 100vh;
}

.testimonials-title {
  padding-top: 30%;
  padding-left: 35%;
  width: 85%;
  font-weight: 600;
}

.carousel {
  background-color: white;
  width: 90%;
  min-height: 90vh;
}

@media only screen and (max-width: 920px) {
  .testimonials-left {
    min-width: 100vw;
    background-color: whitesmoke;
    background-position: 70% 0%;
  }

  .testimonials-title {
    padding-top: 10%;
    padding-left: 5%;
    width: 45%;
  }
}

@media only screen and (max-width: 712px) {
  .testimonials-title {
    font-size: x-large;
  }
  .carousel-name {
    padding-left: 20%;
  }
  .carousel-text {
    padding-left: 20%;
    width: 90%;
  }
}

@media only screen and (max-width: 440px) {
  .testimonials-title {
    padding-top: 2%;
    width: 50%;
  }

  .carousel-name {
    padding-left: 10%;
  }
  .carousel-text {
    padding-left: 10%;
  }
}

@media only screen and (max-width: 337px) {
  .testimonials-title {
    padding-top: 85%;
    padding-left: 2%;
  }

  .carousel-name {
    padding-left: 5%;
  }
  .carousel-text {
    padding-left: 5%;
  }
}
